[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.svd.meta
sysinfo.txt
*.apk
*.aab
*.DS_Store
*.swp
*.lock
.DS_Store
.vscode/
.idea/
.vscode/
.vs/
